# https://wiki.ubuntu.com/SystemdForUpstartUsers
# JBR MiddleTier Monitor Service

[Unit]
Description=JBR MiddleTier Monitor Service
After=mysql.service

[Service]
User=jbr
ExecStart=/usr/bin/java -Xms30M -Xmx30M -Dspring.profiles.active=pdn -jar /usr/bin/jbr/MiddleTier-Monitor-onejar.jar

[Install]
WantedBy=multi-user.target
