# https://wiki.ubuntu.com/SystemdForUpstartUsers
# JBR MiddleTier Monitor Service

[Unit]
Description=JBR MiddleTier Monitor Service (DEV)
After=mysql.service

[Service]
User=jbrdev
ExecStart=/usr/bin/java -Xms30M -Xmx30M -Dspring.config.location=file:/usr/bin/jbr/dev/MiddleTier-Monitor-DEV.properties -Dlogging.config=file:/usr/bin/jbr/dev/MiddleTier-Monitor-DEV-log4j.xml -jar /usr/bin/jbr/dev/MiddleTier-Monitor-DEV-onejar.jar

[Install]
WantedBy=multi-user.target
